    .profile{
    height: 100%;
    }
    mat-toolbar img{
        width: 65px;
        max-height: 65px;
        border-radius: 50%;
        border: 1px solid transparent;
    }
    mat-toolbar {
  
        background-color: rgba(255,147,115,1)  ;
        color: #fff;
        border-bottom: 1px;
    }