
mat-sidenav-content {
    min-height: 100px;
    
}
mat-sidenav{
  max-width: 280px;
  background-color: #4F0147;
 
}
.opciones{
    padding: 0 24px;
    background-color:  #4F0147;
    min-height: 64px;
   
}
.opciones h3{
    padding: 0px;
    margin: 0px;
    line-height: 64px;
    color: white;
    
}