
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Pacifico&display=swap');

.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(207deg, rgba(215,182,56,1) 26%, rgba(255,147,115,1) 55%);      
}
.info{  

}
.login h2{
   
    color: whitesmoke;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-family: 'Marck Script', cursive;


}
.info img{
    max-width: 300px;
    padding: 0px 0px 0px 0px;
}
.login{
    margin: 0px 530px 100px 530px;
    box-shadow: -4px 13px 32px 20px rgba(138,97,0,0.74);
    -webkit-box-shadow: -4px 13px 32px 20px rgba(138,97,0,0.74);
    -moz-box-shadow: -4px 13px 32px 20px rgba(138,97,0,0.74);
    background:#fb9c80
}
